@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  height: 100vh;
  background: linear-gradient(-90deg,  #031540 65%, #fff 35%);
}

.bg-img {
  position: absolute;
  width: 700px;
  height: 700px;
  left: 60px;
}

.budi {
  position: absolute;
  bottom: 0;
  left:200px;
  max-height: 85vh;
}
/*Toggle Switch*/
.ui-switch {
    /* switch */
    --switch-bg: rgb(135, 150, 165);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: rgb(0, 56, 146);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
  }
  
  .ui-switch input {
    display: none;
  }
  
  .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
  }
  
  .slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    ;
  }
  
  .slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
  }
  
  /* Toogle Switch */
  
  .ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  }
  
  .ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
  }

/*Tombol Project*/
.continue-application {
  --color: #000000;
  --background: #d6d300;
  --background-hover: #09ff00;
  --background-left: #d6d300;
  --folder: #F3E9CB;
  --folder-inner: #BEB393;
  --paper: #FFFFFF;
  --paper-lines: #BBC1E1;
  --paper-behind: #E1E6F9;
  --pencil-cap: #fff;
  --pencil-top: #275EFE;
  --pencil-middle: #fff;
  --pencil-bottom: #5C86FF;
  --shadow: rgba(13, 15, 25, .2);
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 17px 29px 17px 69px;
  transition: background 0.3s;
  color: var(--color);
  background: var(--bg, var(--background));
}

.continue-application > div {
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  background: var(--background-left);
}

.continue-application > div .folder {
  width: 23px;
  height: 27px;
  position: absolute;
  left: 15px;
  top: 13px;
}

.continue-application > div .folder .top {
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder .top svg {
  width: 24px;
  height: 27px;
  display: block;
  fill: var(--folder);
  transform-origin: 0 50%;
  transition: transform 0.3s ease var(--fds, 0.45s);
  transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.continue-application > div .folder:before, .continue-application > div .folder:after,
.continue-application > div .folder .paper {
  content: "";
  position: absolute;
  left: var(--l, 0);
  top: var(--t, 0);
  width: var(--w, 100%);
  height: var(--h, 100%);
  border-radius: 1px;
  background: var(--b, var(--folder-inner));
}

.continue-application > div .folder:before {
  box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder:after,
.continue-application > div .folder .paper {
  --l: 1px;
  --t: 1px;
  --w: 21px;
  --h: 25px;
  --b: var(--paper-behind);
}

.continue-application > div .folder:after {
  transform: translate(var(--pbx, 0), var(--pby, 0));
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .folder .paper {
  z-index: 1;
  --b: var(--paper);
}

.continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
  content: "";
  width: var(--wp, 14px);
  height: 2px;
  border-radius: 1px;
  transform: scaleY(0.5);
  left: 3px;
  top: var(--tp, 3px);
  position: absolute;
  background: var(--paper-lines);
  box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.continue-application > div .folder .paper:after {
  --tp: 6px;
  --wp: 10px;
}

.continue-application > div .pencil {
  height: 2px;
  width: 3px;
  border-radius: 1px 1px 0 0;
  top: 8px;
  left: 105%;
  position: absolute;
  z-index: 3;
  transform-origin: 50% 19px;
  background: var(--pencil-cap);
  transform: translateX(var(--pex, 0)) rotate(35deg);
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .pencil:before, .continue-application > div .pencil:after {
  content: "";
  position: absolute;
  display: block;
  background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
  width: var(--w, 5px);
  height: var(--h, 20px);
  border-radius: var(--br, 2px 2px 0 0);
  top: var(--t, 2px);
  left: var(--l, -1px);
}

.continue-application > div .pencil:before {
  -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.continue-application > div .pencil:after {
  --b: none;
  --w: 3px;
  --h: 6px;
  --br: 0 2px 1px 0;
  --t: 3px;
  --l: 3px;
  border-top: 1px solid var(--pencil-top);
  border-right: 1px solid var(--pencil-top);
}

.continue-application:before, .continue-application:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background: var(--color);
  transform-origin: 9px 1px;
  transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
  top: 26px;
  right: 16px;
  transition: transform 0.3s;
}

.continue-application:after {
  --r: 45deg;
}

.continue-application:hover {
  --cx: 2px;
  --bg: var(--background-hover);
  --fx: -40px;
  --fr: -60deg;
  --fd: .15s;
  --fds: 0s;
  --pbx: 3px;
  --pby: -3px;
  --pbd: .15s;
  --pex: -24px;
}

  /*Tombol Download*/
  .download-button {
    top:18px;
    margin-left: 10px;
    position: relative;
    border-width: 0;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    width: 235px;
    z-index: 1;
   }
   
   .download-button .docs {
    display: flex;
    align-items: center;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #d6d300;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   
   .download {
    position: absolute;
    color: black;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #01e056;
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover .download {
    transform: translateY(100%)
   }
   
   .download svg polyline,.download svg line {
    animation: docs 1s infinite;
   }
   
   @keyframes docs {
    0% {
     transform: translateY(0%);
    }
   
    50% {
     transform: translateY(-15%);
    }
   
    100% {
     transform: translateY(0%);
    }
   }

   /* CARD PROJECTS */
   .main {
    padding-left: 60px;
    
   }
   .card {
    --main-color: #ffffff;
    --sub-color: #cace00;
    --bg-color: #031540;
    --accent-color: #cace00;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 270px;
    padding: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--bg-color);
    transition: all 0.2s;
    cursor: pointer;
    box-shadow: 0px 0px 5px -1.5px #000;
  }
  
  .card::before {
    content: '';
    width: 99%;
    height: 99%;
    background: var(--sub-color);
    position: absolute;
    z-index: -1;
    top: 1px;
    left: 1px;
    border-radius: 25px;
    transition: all 0.3s;
  }
  
  .card__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .card__img {
    width: 100%;
  }
  
  .card__title {
    color: var(--main-color);
    font-weight: 900;
    font-size: 25px;
  }
  
  .card__subtitle {
    color: var(--sub-color);
    font-weight: 600;
    font-size: 20px;
  }
  
  .card__icon {
    width: 40px;
    height: 40px;
    transform: rotate(-45deg);
    transition: all 0.3s;
  }
  
  .card__icon svg {
    width: 100%;
    height: 100%;
  }
  
  .card__icon g {
    fill: var(--main-color);
  }
  
  .card__icon circle, polyline, line {
    stroke: var(--main-color);
  }
  
  .card:hover .card__icon {
    transform: rotate(0);
  }
  
  .card:hover .card__icon circle, .card:hover .card__icon polyline, .card:hover .card__icon line {
    stroke: var(--accent-color);
  }
  
  .card:hover .card__icon g {
    fill: var(--accent-color);
  }
  
  .card:hover {
    box-shadow: 0px 0px 20px -5px #000;
  }
  
  .card:hover::before {
    transform: rotate(10deg);
    box-shadow: 0px 0px 20px -5px #000;
  }
  
  /* remove svg from class ="card__img" and last styles below css code before use */
  .st1 {
    fill: #fff
  }
  
  .st2 {
    fill: none;
    stroke: #242c88;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10
  }
  
  .st7 {
    fill: #589fff
  }
  
  .st9 {
    fill: #bc8d66
  }
  
  .st15,.st16 {
    opacity: .4;
    fill: #242c88
  }
  
  .st16 {
    opacity: .2
  }
  
  .st18 {
    fill: #ffc408
  }
  
  .st53 {
    fill: none;
    stroke: #242c88;
    stroke-width: 1.848;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10
  }
  
  /*404*/
  .kaset {
    width: 300px;
    height: 200px;
    background: #252525;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .ups {
    display: flex;
  }
  
  .screw1 {
    display: flex;
    color: black;
    border: 1px solid black;
    background-color: lightgrey;
    height: 0.75em;
    width: 0.75em;
    margin: 0.5em;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .screw2 {
    display: flex;
    color: black;
    border: 1px solid black;
    background-color: lightgrey;
    height: 0.75em;
    width: 0.7em;
    margin-top: 0.5em;
    margin-left: 15.8em;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .downs {
    display: flex;
  }
  
  .screw3 {
    display: flex;
    color: black;
    border: 1px solid black;
    background-color: lightgrey;
    height: 0.75em;
    width: 0.75em;
    margin-top: -1.3em;
    margin-left: 0.5em;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .screw4 {
    display: flex;
    color: black;
    border: 1px solid black;
    background-color: lightgrey;
    height: 0.75em;
    width: 0.75em;
    margin-top: -1.3em;
    margin-left: 16.35em;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .card1 {
    width: 230px;
    height: 115px;
    margin-top: 0.5em;
    margin-left: 2.18em;
    background-color: #FFFDD0;
    clip-path: polygon(5% 0, 95% 0, 100% 10%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 10%);
    border-radius: 5px;
  }
  
  .line1 {
    position: relative;
    width: 200px;
    height: 1px;
    background-color: black;
    top: 1em;
    left: 0.8em;
  }
  
  .line2 {
    position: relative;
    width: 200px;
    height: 1px;
    background-color: black;
    top: 2em;
    left: 0.8em;
  }
  
  .yl {
    display: flex;
    width: 228px;
    height: 50px;
    background-color: rgb(242, 188, 0);
    margin-top: 2.5em;
    margin-left: 0.06em;
  }
  
  .roll {
    width: 8em;
    height: 2em;
    margin-left: 3em;
    border-radius: 15px;
    background-color: #171717;
    display: flex;
  }
  
  .tape {
    width: 3em;
    height: 1.5em;
    position: relative;
    left: 0.9em;
    background-color: #252525;
  }
  
  .s_wheel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0.215em;
    left: 0.15em;
    width: 1.55em;
    height: 1.55em;
    border: 2px dashed #fff;
    box-shadow: 0 0 0 4.4px #fff;
    border-radius: 50%;
    animation: 2s run infinite linear;
  }
  
  .window {
    background-color: white;
    width: auto;
    height: 2em;
  }
  
  .e_wheel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0.215em;
    left: 1.7em;
    width: 1.55em;
    height: 1.55em;
    border: 2px dashed #fff;
    box-shadow: 0 0 0 4.4px #fff;
    border-radius: 50%;
    animation: 2s run infinite linear;
  }
  
  .num {
    margin-left: 1.5em;
    align-self: center;
  }
  
  .or {
    display: flex;
    width: 230px;
    height: 18px;
    background-color: rgb(241, 90, 37);
    margin-top: 0.4em;
    margin-left: 0em;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    align-items: center;
    justify-content: center;
  }
  
  .time {
    font-size: 0.5em;
  }
  
  .card2_main {
    filter: drop-shadow(4px 4px 14px rgba(0, 0, 0, 1));
  }
  
  .card2 {
    width: 150px;
    height: 50px;
    margin-top: 0em;
    margin-left: 4.6em;
    background-color: #252525;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  }
  
  .screw5 {
    position: relative;
    display: flex;
    color: black;
    border: 1px solid black;
    background-color: lightgrey;
    height: 0.75em;
    width: 0.75em;
    left: 4.25em;
    top: -0.5em;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .c1 {
    position: relative;
    width: 0.5em;
    height: 0.5em;
    background-color: rgb(190, 190, 190);
    border-radius: 50%;
    left: 1.5em;
    top: 2em;
  }
  
  .t1 {
    position: relative;
    width: 0.5em;
    height: 0.5em;
    background-color: rgb(190, 190, 190);
    border-radius: 2px;
    left: 3em;
    top: 1em;
  }
  
  .t2 {
    position: relative;
    width: 0.5em;
    height: 0.5em;
    background-color: rgb(190, 190, 190);
    border-radius: 2px;
    left: 5.7em;
    top: -0.2em;
  }
  
  .c2 {
    position: relative;
    width: 0.5em;
    height: 0.5em;
    background-color: rgb(190, 190, 190);
    border-radius: 50%;
    left: 7.2em;
    top: -0.2em;
  }
  
  @keyframes run {
    100% {
      transform: rotate(360deg);
    }
  }

  .dark-mode{
    --primary-color:white;
    --secondary-color:var(--bg-color);
  }
  
  .inputbox {
    position: relative;
    width: 196px;
  }
  
  .inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  }
  
  .inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
  }
  
  .inputbox input:valid ~span,
  .inputbox input:focus ~span {
    color: #45f3ff;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0,75em;
  }
  
  .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }
  
  .inputbox input:valid ~i,
  .inputbox input:focus ~i {
    height: 44px;
  }

  .share {
    position: absolute;
    left:1050px;
    height: 70px;
    width: 250px;
   
  }
  
  .share svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    padding: 0.25rem;
    cursor: pointer;
  }
  
  .share .social-link1,.share .social-link2,.share .social-link3,.share .social-link4,.share .social-link5 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .share svg {
    transform: scale(1);
  }
  
  .share .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
  }
  
  .share .social-link2:hover {
    background-color: #242c34;
    animation: bounce_613 0.4s linear;
  }
  
  .share .social-link3:hover {
    background-color: #5865f2;
    animation: bounce_613 0.4s linear;
  }
  
  .share .social-link4:hover {
    background-color: #0a66c2;
    animation: bounce_613 0.4s linear;
  }
  
  .share .social-link5:hover {
    background-color: #ff8000;
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  